<!DOCTYPE html>
<html>
<head>
<title>Attendance</title>
</head>

<body>

<h2>Mark Attendance</h2>

<form method="POST" action="/attendance">

<label>Student ID</label>
<input type="number" name="student_id" required><br><br>

<label>Date</label>
<input type="date" name="date" required><br><br>

<label>Status</label>

<select name="status">
<option value="Present">Present</option>
<option value="Absent">Absent</option>
</select>

<br><br>

<button type="submit">Submit</button>

</form>

<br>

<a href="/">Back</a>

</body>
</html>
